{deps, [
        {stats, ".*", {git, "https://github.com/dizzyd/stats.git", "HEAD"}},
        {ibrowse, ".*", {git, "https://github.com/dizzyd/ibrowse.git", "HEAD"}},
        {casbench, "0.1", {git, "https://github.com/basho/casbench", "HEAD"}},
        {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client", "HEAD"}}
       ]}.

{escript_incl_apps, [stats, ibrowse, riakc, protobuffs]}.

%% Uncomment to use the Java client bench driver
%% {escript_emu_args, "%%! -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
