{mode, max}.

{duration, 3}.

{concurrent, 1}.

{code_paths, ["ebin"]}.

{source_dir, "test"}.

{driver, basho_bench_driver_eldb}.

%{key_generator, {uniform_int, 1000000}}.
{key_generator, {to_binstr, "~w", {uniform_int, 1000000}}}.

%{value_generator, {fixed_bin, 10000}}.
{value_generator, {fixed_bin, 1000}}.

{operations, [{put, 1}, {get, 4}]}.

{eldb_work_dir, "/tmp/eldb.bb"}.

{eldb_clear_work_dir, false}.

{eleveldb_config, [{max_open_files,1000}]}.
